.navbar {
    justify-content: space-between;
    color: white;
    background-color: #3f51b5;
}

span {
    padding-right: 1rem;
}

.span2 {
    padding-left: 3rem;
}

mat-select {
    width: 150px;
}

button {
    font-size: x-large;
    justify-content: space-between;
}

mat-paginator {
    background-color: #3f51b5;
    margin-top: 750px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3f51b5;
    height: 5rem;
}

mat-card {
    padding: 2vw;
    margin: 0.1vw;
    border-radius: 20px;
    background-color: #3f51b5;
    color: white;
    left: 25%;
    right: 25%;
    width: 50%;

}

mat-card-title-group{

    font-size: x-large;
}
