<mat-toolbar  class = 'navbar'>

  <div> !FIIbolnav </div>
  <div>
    <span>Home</span>
    <span>About</span>
    <span>Services</span>
    <span>My account</span>
    <span>Contact</span>

  </div>

</mat-toolbar>

<mat-toolbar color=#3f51b5  class = 'navbar span2' >


  <div>

    <span></span>
    <mat-form-field>

      <mat-label> Specializare </mat-label>
      <mat-select>
        <mat-option value="Cardiologie">Cardiologie</mat-option>
        <mat-option value="Neurologie">Neurologie</mat-option>
        <mat-option value="Dentist">Dentist</mat-option>
      </mat-select>
    </mat-form-field>
    <span></span>
    <mat-form-field>

      <mat-label> Locatie </mat-label>
      <mat-select>
        <mat-option value="Iasi">Iasi</mat-option>
        <mat-option value="Cluj">Cluj</mat-option>
        <mat-option value="Bucuresti">Bucuresti</mat-option>
      </mat-select>
    </mat-form-field>

    <span></span>

    <mat-form-field>
      <mat-label>Nume medic</mat-label>
      <input matInput>
    </mat-form-field>
  <span></span>
    <mat-form-field>

      <mat-label> Sorteaza </mat-label>
      <mat-select>
        <mat-option value="Nume ( A - Z )">Nume ( A - Z )</mat-option>
        <mat-option value="Nume ( Z - A )">Nume ( Z - A )</mat-option>
        <mat-option value="Rating crescator">Rating crescator</mat-option>
        <mat-option value="Rating descrescator">Rating descrescator</mat-option>
      </mat-select>
    </mat-form-field>



  </div>
</mat-toolbar>

