<mat-form-field class = "sameline" appearance="outline">
    <mat-label>
        Specializare
    </mat-label>
    <mat-select>
        <mat-option>
            Alergologie si imunologie
        </mat-option>
        <mat-option>
            Anatomie patologica
        </mat-option>
        <mat-option>
            Anestezie si terapie intensiva
        </mat-option>
        <mat-option>
            Boli infectioase
        </mat-option>
        <mat-option>
            Cardiologie
        </mat-option>
        <mat-option>
            Chirurgie cardiovasculara
        </mat-option>
        <mat-option>
            Chirurgie generala
        </mat-option>
        <mat-option>
            Chirurgie oncologica
        </mat-option>
        <mat-option>
            Chirurgie orala si maxilo-faciala
        </mat-option>
        <mat-option>
            Chirurgie ortopedie pediatrica
        </mat-option>
        <mat-option>
            Chirurgiep ediatrica
        </mat-option>
        <mat-option>
            Chirurgie plastica-microchirurgie reconstructiva
        </mat-option>
        <mat-option>
            Chirurgie toracica
        </mat-option>
        <mat-option>
            Chirurgie vasculara
        </mat-option>
        <mat-option>
            Consiliere alaptare
        </mat-option>
        <mat-option>
            Dermatovenerologie
        </mat-option>
        <mat-option>
            Diabet zaharat , nutritie si boli metabolice
        </mat-option>
        <mat-option>Endocrinologie</mat-option>
        <mat-option>
            Epidemiologie
        </mat-option>
        <mat-option>Gastroenterologie</mat-option>
        <mat-option>
            Genetica medicala
        </mat-option>
        <mat-option>
            Geriatrie si gerontologie
        </mat-option>
        <mat-option>Hematologie</mat-option>
        <mat-option>
            Medicina de familie
        </mat-option>
        <mat-option>
            Medicina de laborator
        </mat-option>
        <mat-option>
            Medicina generala
        </mat-option>
        <mat-option>
            Medicina interna
        </mat-option>
        <mat-option>
            Medicina muncii
        </mat-option>
        <mat-option>
            Nefrologie
        </mat-option>
        <mat-option>
            Neonatologie
        </mat-option>
        <mat-option>
            Neurochirurgie
        </mat-option>
        <mat-option>
            Neurologie
        </mat-option>
        <mat-option>
            Neurologie pediatrica
        </mat-option>
        <mat-option>
            Neuropsihiatrie infantila
        </mat-option>
        <mat-option>
            Obstetrica - ginecologie
        </mat-option>
        <mat-option>
            Oftalmologie
        </mat-option>
        <mat-option>
            Oncologie medicala
        </mat-option>
        <mat-option>
            Orl (otorinolaringologie)
        </mat-option>
        <mat-option>
            Ortopedie si traumatologie
        </mat-option>
        <mat-option>
            Ortopedie si traumatologie pediatrica
        </mat-option>
        <mat-option>
            Pediatrie
        </mat-option>
        <mat-option>
            Pneumologie
        </mat-option>
        <mat-option>
            Psihiatrie
        </mat-option>
        <mat-option>
            Psihiatrie pediatrica
        </mat-option>
        <mat-option>Psihologie</mat-option>
        <mat-option>
            Radiologie-imagistica medicala
        </mat-option>
        <mat-option>Radioterapie</mat-option>
        <mat-option>
            Recuperare medicala
        </mat-option>
        <mat-option>
            Reumatologie
        </mat-option>
        <mat-option>
            Tehnician
        </mat-option>
        <mat-option>
            Urologie
        </mat-option>
    </mat-select>
</mat-form-field>
<a class = "sameline" href = "#specializariDESC"> <button mat-raised-button id = "sortButton"> Sortare </button></a>

<mat-card>
    <mat-card-title>
        Alergologie și imunologie
    </mat-card-title>
    <mat-card-content>
        <p>
            Alergologie și imunologie clinică reprezintă specialitatea care se ocupă cu studiul bolilor alergice,
            a bolilor și sindroamelor disimunitare, care includ tulburări de imunoreglare și imunodeficiențe.
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>
        Anatomia patologică
    </mat-card-title>
    <mat-card-content>
        <p>
            Anatomia patologică este o ramură a patologiei care se ocupă cu diagnosticul bolilor
            pe baza studierii schimbărilor macroscopice si microscopice a celulelor si a țesuturilor,
            suferite de pe urma unei stări patologice .Părintele fondator al anatomiei patologice moderne
            este italianul Giovani Battista Morgagni. O ramură care se ocupă la un nivel sub microscopic
            și care întregește datele obținute prin metodele anatomiei patologice este biologia moleculară.
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>
        Anestezia şi terapia intensivă
    </mat-card-title>

    <mat-card-content>
        <p>
            Anestezia şi terapia intensivă este specialitatea medicală care asigură, prin
            mijloace farmacologice şi tehnice specifice, pe de o parte condiţiile necesare pentru
            desfăşurarea actului chirurgical, a îngrijirii perioperatorii şi a altor proceduri
            diagnostice/terapeutice iar, pe de altă parte, suportul indispensabil pacientului critic pentru
            evaluarea şi tratamentul disfuncţiilor/leziunilor de organ.
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>
        Boli infecţioase
    </mat-card-title>
    <mat-card-content>
        <p>
            Specialitatea Boli infecţioase este o specialitate medicală care se ocupă cu
            studiul bolilor provocate de agenţi infecţioşi transmisibili şi netransmisibili,
            precum şi cu prevenirea, depistarea, diagnosticarea şi tratarea bolilor provocate de
            prioni, virusuri, bacterii, fungi, paraziti şi alţi agenţi patogeni.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Cardiologie
    </mat-card-title>
    <mat-card-content>
        <p>
            Cardiologie este specialitatea medicala care se ocupa cu preventia, diagnosticarea si tratarea afectiunilor cardiace.
        </p>
        <p>
            Pentru cresterea acuratetei diagnostice si evaluarea stadiului de boala, consultul cardiologic este completat cu analize
            de laborator specifice, explorari functionale cardiace - electrocardiograma (ECG), test de efort, monitorizare ambulatorie
            a tensinii arteriale (TA) si explorari paraclinice specifice - radiografia cardio-pulmonara, ecografia cardiaca transtoracica
            si transesofagiana, ecografia Doppler vascular.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Chirurgie cardiovasculară
    </mat-card-title>
    <mat-card-content>
        <p>
            Specialitatea chirurgie vasculara se ocupa cu tratamentul bolilor vaselor sanguine, adica a arterelor, venelor si limfaticelor.
        </p>
        <p>
            Chirurgia vasculara arteriala se ocupa de afectiunile arterelor ajunse in stadiul avansat, chirurgical.
        </p>
        <p>
            Principala afectiune chirurgicala arteriala este intreruperea circulatiei sangvine in o artera importanta, ce conduce la scaderea cantitatii de sange care ajunge in teritoriul irigat de vasul respectiv, suferinta denumita ischemie.
        </p>
        <p>
            Ischemia poate fi acuta, prin infundarea arterei cu un tromb (cheag) venit din inima de obicei (fibrilatia atriala cronica), prin formarea de trombi locali, pe fond de placi ateromatoase sau in alte circumstante (starile trombofilice) sau prin injurii arteriale directe insotite de hemoragii cel mai frecvent.
            Ischemia cronica este determinata de arteriopatia cronica obliteranta si trombangeita obliteranta.
        </p>
        <p>
            Principalele interventii vasculare arteriale sunt : revascularizarea prin bypass, trombarterectomia si dezobstructia cu sonda Fogarty.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Chirurgie generală
    </mat-card-title>
    <mat-card-content>
        <p>
            Chirurgia generală este specialitatea care se ocupă cu diagnosticul și tratamentul afecțiunilor chirurgicale ale abdomenului precum și a altor afecțiuni chirurgicale care fac obiectul altor specialități,
            ce necesită tehnici speciale cum ar fi traumatisme, afecțiuni vasculare, genitale, urologice, toracice, endocrine, neurochirurgicale, chirurgie oncologică etc.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Chirurgie oncologică
    </mat-card-title>
    <mat-card-content>

    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Chirurgie orală și maxilo-facială
    </mat-card-title>
    <mat-card-content>
        <p>
            Chirurgia orala include toate tratamentele chirurgicale limitate la nivelul cavitatii orale, care sunt compatibile cu tratamentele de chirurgie dentara.
        </p>
        <p>
            Disciplina de chirurgie maxilo-faciala se preocupa de tratarea afectiunilor si defectelor din zona: capului, gatului, fetei si maxilarelor / regiunea cranio-maxilo-faciala, precum si a tesuturilor moi si tari ale cavitatii orale.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Chirurgie ortopedie pediatrică
    </mat-card-title>
    <mat-card-content>

    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Chirurgie pediatrică
    </mat-card-title>
    <mat-card-content>
        <p>
            Chirurgia pediatrica se ocupa cu diagnosticul si tratamentul chirurgical al unei mari varietati de boli intalnite la copii, din perioada neonatala pana la pubertate.
        </p>
        <p>
            Ea nu e limitata la o arie anatomica a corpului, cum ar fi toracele sau abdomenul, acoperind o serie intreaga de boli unice copiilor ce necesita tratament specific.
        </p>
        <p>
            Un copil nu poate fi tratat in acelasi mod ca un pacient adult de talie mai mica.
        </p>
        <p>
            Desi copilul prezinta aceleasi organe si structuri, maturitatea si consistenta lor sunt diferite.
        </p>
        <p>
            Chirurgia pediatrica poate fi definita ca o combinatie de chirurgie generala, chirurgie plastica, chirurgie toracica si urologie, ce se adreseaza pacientului pediatric.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Chirurgie plastică-microchirurgie reconstructivă
    </mat-card-title>
    <mat-card-content>
        <p>
            Chirurgia plastică-microchirurgia reconstructivă este o specialitate medicală care se ocupă cu diagnosticul și tratamentul chirurgical al arsurilor, electrocuțiilor, traumatismelor însoțite de distrugeri de părți moi, ale mâinilor traumatizate (leziuni tegumentare, scheletice, tendinoase, vasculo-nervoase), al tumorilor de suprafață, al malformațiilor congenitale și al unor suferințe estetice.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Chirurgie toracică
    </mat-card-title>
    <mat-card-content>
        <p>
            Chirurgia toracica este ramura chirurgicala care se ocupa cu diagnosticul si tratamentul afectiunilor pulmonare, pleurale, de perete toracic,
            traheobronsice, mediastinale, esofagiene, pericardice si diafragmatice, dar si ale regiunilor de granita - cervico-toracica si toraco-abdominala.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Chirurgie vasculară
    </mat-card-title>
    <mat-card-content>
        <p>
            Specialitatea chirurgie vasculara se ocupa cu tratamentul bolilor vaselor sanguine, adica a arterelor, venelor si limfaticelor.
        </p>
        <p>
            Chirurgia vasculara arteriala se ocupa de afectiunile arterelor ajunse in stadiul avansat, chirurgical.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Consiliere alăptare
    </mat-card-title>
    <mat-card-content>
        <p>
            Consilierea presupune o muncă de echipă.
            Pe de o parte, consilierul vine cu informațiile necesare și experiența, pe de altă parte mama vine cu dorința de a alăpta și acceptul de a urma sfaturile primite.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Dermato-venerologie
    </mat-card-title>
    <mat-card-content>
        <p>
            Dermato-venerologia reprezintă o specialitate medicală ce se ocupă de totalitatea patofenomenelor care se produc la nivelul organului cutanat (piele, mucoase accesibile, fanere), la orice vârstă, inclusiv boli cu transmitere sexuală (venerice).
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Diabet zaharat, nutriție și boli metabolice
    </mat-card-title>
    <mat-card-content>
        <p>
            Specialitatea Diabet zaharat Nutriţie şi Boli Metabolice (DZNBM) este specialitatea care studiază
            urmatoarele aspecte:
        </p>
        <ul>
            <li>
                principalele boli cronice netransmisibile şi factori de risc (diabet zaharat, suprapondere,
                obezitate, dislipidemii, risc cardiovascular şi metabolic, sindrom metabolic, hiperuricemii, stil de viaţă
                nesănătos)
            </li>
            <li> hipoglicemiile de cauză diabetică şi non-diabetică </li>
            <li> nutriţia individului sănătos </li>
            <li>
                dietoterapia în boli cronice şi acute (metabolice, cardiovasculare, digestive, renale, imunologice,
                pulmonare, etc)
            </li>
            <li> dietoterapia în situaţii speciale (gravide, lăuze, sportivi, copii, varstnici, comunităţi) </li>
            <li> boli metabolice ereditare /erori înăscute de metabolism </li>
        </ul>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Endocrinologie
    </mat-card-title>
    <mat-card-content>
        <p>
            Endocrinologia este specialitatea medicala care se ocupa cu diagnosticarea si tratamentul afectiunilor sistemului endocrin.
            In cadrul endocrinologiei sunt investigate afectiunile tiroidiene, hipofizare, adrenale, gonadale si tulburarile metabolismului calcic (osteoporoza, osteomalacia).
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Epidomiologie
    </mat-card-title>
    <mat-card-content>
        <p>
            Epidemiologia este ramura medicinei care studiaza factorii care afecteaza sanatatea si boala la nivel individual si populational si serveste la fundamentarea interventiilor logice de sanatate publica si medicina preventiva.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Gastroenterologie
    </mat-card-title>
    <mat-card-content>
        <p>
            Gastroenterologia este specialitatea medicala care se ocupa cu preventia, diagnosticul si tratamentul afectiunilor sistemului digestiv (afectiuni gastrointestinale, hepatice, colecistice, pancreatice).
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Genetică medicală
    </mat-card-title>
    <mat-card-content>
        <p> Genetica Medicală este specialitatea care vizează: </p>
        <ul>
            <li> depistarea, diagnosticarea, tratarea şi recuperarea pacienţilor cu afecţiuni genetice </li>
            şi a celor cu anomalii congenitale;
            <li>
                estimarea riscului de recurenţă a bolilor genetice în familiile pacienţilor şi
                acordarea unui sfat genetic corect şi competent.
            </li>
        </ul>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Geriatrie și gerentologie
    </mat-card-title>
    <mat-card-content>
        <p>
            Specialitate care are drept obiective asistenţa medicală din îngrijirea acută, cronică,
            preventivă, de recuperare şi terminală a vârstnicilor, precum şi studiul procesului de
            îmbătrânire din punct de vedere somatic, mental, funcţional şi social la nivel
            individual, şi al problematicii legate de acest proces la nivelul societăţii.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Hematologie
    </mat-card-title>
    <mat-card-content>
        <p>
            Hematologia este ramura medicinei care se ocupa cu studiul, diagnosticul si tratamentul afectiunilor sangelui si ale organelor hematopoietice - maduva rosie osoasa, splina, ficat, ganglioni limfatici.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Medicină de familie
    </mat-card-title>
    <mat-card-content>
        <p>
            Medicina de familie este specialitatea medicala care asigura asistenta medicala primara si continua contribuind, prin actiuni preventive, educationale, terapeutice si de recuperare, la promovarea starii de sanatate a individului, a familiei si a colectivitatii, fara a se limita la un anumit tip de boli.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Medicină de laborator
    </mat-card-title>
    <mat-card-content>
        <p>
            Specializarea în specialitatea Medicină de Laborator se realizează prin studiul
            următoarelor discipline medicale: Biochimie, Biologie moleculară, Genetică, Hematologie,
            Imunologie, Bacteriologie, Virusologie, Micologie, Parazitologie (criteriul organizatoric
            funcţional actual al laboratorului de analize medicale din unităţile sanitare) la care se adaugă
            studiul într-o serie de domenii nemedicale dar necesare pentru o formare profesională completă
            (management, biosiguranţă, calitate, etc.)
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Medicină generală
    </mat-card-title>
    <mat-card-content>
        <p>
            Medicina generala este specialitatea care se ocupa cu diagnosticarea si tratamentul conditiilor acute sau cronice si furnizarea de ingrijiri preventive de sanatate. Specialistii de medicina generala / medicina de familie furnizeza ingrijiri medicale pentru pacientii de toate varstele, de la nou-nascuti la varstnici, barbati si femei, cu probleme medicale diverse.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Medicină internă
    </mat-card-title>
    <mat-card-content>
        <p>
            Medicina interna este ramura si specialitatea medicala care se ocupa cu prevenirea, diagnosticul si tratamentul nechirurgical al afectiunilor, in special cele ale organelor interne. Specialitatea medicina interna se adreseaza adultilor.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Medicina muncii
    </mat-card-title>
    <mat-card-content>
        <p>Conform Hotararii de Guvern nr. 355/2007 privind supravegherea sanatatii lucratorilor, supravegherea sanatatii lucratorilor defineste totalitatea serviciilor medicale care asigura prevenirea, depistarea, dispensarizarea bolilor profesionale si a bolilor legate de profesie, precum si mentinerea sanatatii si a capacitatii de munca a lucratorilor. (Art. 2) </p>
        <p>Supravegherea sanatatii lucratorilor este asigurata de catre medicii specialisti de medicina muncii (Art. 4).</p>

        <p>"Aptitudine in munca" reprezinta capacitatea lucratorului din punct de vedere medical de a desfasura activitatea la locul de munca in profesia/functia pentru care se solicita examenul medical (Capitolul III, Art. 9(1)).</p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Nefrologie
    </mat-card-title>
    <mat-card-content>
        <p>
            Nefrologie este o ramura a medicinei interne si se ocupa cu studiul functiei rinichilor si a bolilor de rinichi.
            Denumirea de nefrologie isi are originea in limba greaca : νεφρος (nephros) - rinichi si λογος (logos) - stiinta.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Neonatologie
    </mat-card-title>
    <mat-card-content>
        <p>
            Neonatologia este specialitatea care se ocupă cu studiul nou-născutului sănătos, cu depistarea ,
            diagnosticarea şi tratarea bolilor specifice acestei grupe de vârstă, precum şi cu îngrijirea şi
            protezarea pentru menţinerea în viaţă a nou-născutului prematur.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Neurochirugie
    </mat-card-title>
    <mat-card-content>
        <p>
            Neurochirurgia - sau Chirurgia neurologica - este specialitatea medicala care se ocupa cu diagnosticul si tratamentul afectiunilor sistemului nervos central si periferic.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Neurologie
    </mat-card-title>
    <mat-card-content>
        <p>
            Neurologia este specialitatea medicala care se ocupa cu diagnosticarea si tratamentul afectiunilor sistemului nervos (encefal, maduva spinarii, nervi periferici). Pentru acuratetea diagnosticului dat, medicul neurolog poate indica urmatoarele investigatii : punctie lombara si analiza lichidului cefalorahidian, electroencefalograma (EEG), electromiograma (EMG), examen radiologic (radiografie de craniu si de coloana vertebrala), Doppler vascular cervico-cerebral, tomografie cerebrala, rezonanta magnetica nucleara (RMN) cerebrala sau de maduva spinarii.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Neurologie pediatrică
    </mat-card-title>
    <mat-card-content>
        <p>
            Neurologia pediatrică este specialitatea medicală care se ocupă cu diagnosticarea și tratarea bolilor sistemului nervos central și periferic la copii.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Neuropsihiatrie infantilă
    </mat-card-title>
    <mat-card-content>
        <p>
            Are ca obiect de activitate diagnosticul și tratamentul afectiunilor sistemului nervos specific copilului și adolescentului (Epilepsie, tulburari de somn, Enurezis, boli musculare și ale nervilor periferici, paralizii, sechele encefalite și meningite, migrene, sindrom cefalalgic, sechele de encefalită cronică infantilă, retard psihic, sindrom hiperkinetic, tulburări de comportament și nevrotice.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Obstetrică-ginecologie
    </mat-card-title>
    <mat-card-content>
        <p>
            Obstetrica este o ramura a medicinei care se ocupa cu supravegherea femeii in perioada de sarcina, nastere si postpartum.
        </p>
        <p>
            Ginecologia este o specialitate chirugicala care se ocupa cu bolile sistemului reproductiv feminin (uter, vagin, ovare).
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Oftalmologie
    </mat-card-title>
    <mat-card-content>
        <p>
            Oftalmologia este specialitatea chirugicala care se ocupa cu diagnosticarea si corectarea problemelor de vedere.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Oncologie medicală
    </mat-card-title>
    <mat-card-content>
        <p>
            Oncologia este specialitatea medicala care se ocupa cu diagnosticarea, tratamentul si prevenirea bolii canceroase umane.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        ORL (Otorinolarincologie)
    </mat-card-title>
    <mat-card-content>
        <p>
            ORL - OtoRinoLaringologia este specialitatea chirurgicala care diagnosticheaza si trateaza afectiunile nasului, gatului si urechilor.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Ortopedie și traumatologie
    </mat-card-title>
    <mat-card-content>

    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Ortopedie și traumatologie pediatrică
    </mat-card-title>
    <mat-card-content>
        <p>
            Ortopedie Traumatologie este specialitatea chirugicala care se ocupa cu preventia, diagnosticul si tratarea afectiunilor sistemului musculo-scheletal (oase, articulatii, muschi, ligamente, tendoane), prin utilizarea procedurilor medicale, chirugicale si fizice.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Pediatrie
    </mat-card-title>
    <mat-card-content>

    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Pneumologie
    </mat-card-title>
    <mat-card-content>
        <p>
            Pediatrie este specialitatea medicala care se ocupa cu preventia, diagnosticarea si tratamentul afectiunilor pediatrice (nou-nascut pana la 18 ani).
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Psihiatrie
    </mat-card-title>
    <mat-card-content>
        Psihiatria este specialitatea medicala care se ocupa cu identificarea cauzelor, diagnosticul, preventia si tratamentul afectiunilor psihice.
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Psihiatrie pediatrică
    </mat-card-title>
    <mat-card-content>
        Psihiatria pediatrică este specialitatea medicală care se ocupă cu identificarea cauzelor, diagnosticul, preventia si tratamentul afectiunilor psihice la copii.
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Psihologie
    </mat-card-title>
    <mat-card-content>
        <p>
            Psihologia este stiinta care studiaza comportamentul si mintea umana. Mai exact, psihologia este un demers stiintific prin care se obtin cunostinte prin metode sistematice si obiective; psihologii studiaza comportamentul - ceea ce face referire la orice actiune sau reactie ce poate fi masurata sau observata; psihologii studiaza mintea - ceea ce face referire atat la starile mentale constiente cat si inconstiente.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Radiologie - imagistica medicală
    </mat-card-title>
    <mat-card-content>
        <p>
            Radiologia este specialitatea medicală care folosește imagistica medicală pentru a diagnostica și trata bolile din corpul uman și al animalelor.
        </p>
        <p>
            Imagistica medicală este o specialitate științifică recentă, care reunește o largă varietate de științe în scopul studierii modului în care se formează, înregistrează, transmit, analizează, procesează, percep și se stochează imagini ale organelor sau țesuturilor, prin diferize tehnici, cu scopul de a le folosi pentru a diagnostica bolile.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Radioterapie
    </mat-card-title>
    <mat-card-content>
        <p>
            Radioterapia este un tratament recomandat pentru bolnavii de cancer, care presupune utilizarea unor doze de radiații controlate asupra zonei tumorale. Decizia de a utiliza această terapie se ia de către medicul oncolog împreună cu pacientul, după ce acesta a fost pe deplin informat.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Recuperare medicală
    </mat-card-title>
    <mat-card-content>
        <p>
            Recuperarea este o specialitate clinico-terapeutica ce presupune abord interdisciplinar, cuspecialitati precum ortopedia-traumatologia, neurologia, neurochirurgia, reumatologia, geriatria-gerontologia, cardiologia si chirurghia cardiovasculara, pneumologia, medicina dentara,medicina muncii si ergomonia locului de munca, urologia, chirurgia cardiotoracica, chirurgia plastica si reparatorie, cu atentie deosebita acordata recuperarii mainii chirurgicale etc.Recuperarea medicala presupune sinonime precum reabilitarea, reeducarea functionala saumedicina fizica
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Reumatologie
    </mat-card-title>
    <mat-card-content>
        <p>
            Reumatologia este specialitatea care se ocupa cu depistarea, diagnosticarea, tratarea si recuperarea bolnavilor cu suferinte non-chirurgicale ale aparatului locomotor. Reumatologia este o subspecialitate derivata din medicina interna.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Tehnician
    </mat-card-title>
    <mat-card-content>

    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Urologie
    </mat-card-title>
    <mat-card-content>
        <p>
            Urologia este specialitatea chirurgicala care care se ocupa de diagnosticarea si tratamentul afectiunilor sistemului renourinar masculin si feminin (rinichi, uretere, vezica urinara, uretra) si pe sistemul reproductiv masculin (testicule, epididim, vas deferent, vezicule seminale, prostata si penis).
        </p>
    </mat-card-content>
</mat-card>

<div id = "specializariDESC">

</div>
